ConnectionStrings__PostgreSQLConnection=RealConnectionString
Facebook__Enabled=false
Facebook__AccessToken=
Facebook__PageId=
YoutubeApi__ApiKey=
YoutubeComment__Enabled=false
YoutubeComment__OAuthAccessToken=
LmStudio__BaseUrl=
HttpsCertificate__Password=
